@model TTE_Portal.ViewModels.OrdersViewModel
<style>
    .CustomHead {
        background: linear-gradient(#00acc1 25%,#1976d2);
        color: #ffffff;
    }

    .uk-table td, .uk-table th {
        padding: 8px 8px;
        border-bottom: 1px solid #ddd
    }

    .uk-table th {
        text-align: left;
    }

    .uk-table td {
        vertical-align: top
    }

    .uk-table thead th {
        vertical-align: bottom
    }

    uk-width-medium-1-2 {
        width: 50%;
    }

    uk-width-medium-1-2 {
        box-sizing: border-box;
        width: 100%
    }

    .div-left {
        /* color: #000; */
        /* width: auto; */
        float: left;
        /* height: auto; */
    }

    .div-right {
        /* color: #000; */
        /* width: auto; */
        float: right;
    }

    /*   container-fluid {
            display: grid;
        } */

    footer {
        visibility: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }
</style>


<body>


    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <h3>Order Information</h3>

                <table class="uk-table">

                    <tbody>
                        <tr>
                            <td>
                                <label>
                                    <strong>PI No.</strong>
                                </label>
                                <label style="float:right">@Model.PINO</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <strong>Payment Mode</strong>
                                </label>
                                <label style="float:right">?</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="margin-right:300px;">
                                <label>
                                    <strong>PI Date</strong>
                                </label>
                                </span>
                                @* <span style="margin-right:400px;"> *@
                                <label style="float:right">@Model.PIDate</label>
                                @* </span> *@
                            </td>
                        </tr>

                    </tbody>


                </table>

            </div>

            <div class="col-md-5">


                <table class="uk-table">

                    <tbody>
                        <tr>
                            <td>
                                <span style="margin-right:270px;">
                                <label>
                                    <strong>Payment</strong>
                                </label>
                                </span>
                                <label style="float:right">@Model.PaymentDate</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="margin-right:50px;">
                                    <label>
                                        <strong>LC</strong>
                                    </label>
                                </span>
                                <label style="float:right">?</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   AWB 
                                    
                                </label>
                                
                                <label style="float:right">
                                    <strong><a href="https://localhost:7112/assets/@Model.AWBFile" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>
                                    </strong>
                                    @Model.AWB</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <strong>Delivery</strong>
                                </label>
                                <label style="float:right">@Model.Delivery</label>
                            </td>
                        </tr>
                        

                    </tbody>

                </table>

            </div>

        </div>
    </div>

    <div class="container" style="padding-top:40px;">
        <div class="row">

            <div class="col-md-7">
                <h3>Order</h3>

                <table class="uk-table">

                    <tbody>
                        <tr class="CustomHead">
                            <th>Model</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th>PI Value</th>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>@Model.Model</td>
                            <td>@Model.QTY</td>
                            <td>@Model.UnitPrice</td>
                            <td>@Model.PIValue</td>

                        </tr>
                    </tbody>

                </table>

            </div>

            <div class="col-md-5">
                <h3>Payment History</h3>

                <table class="uk-table">

                    <tbody>
                        <tr class="CustomHead">
                            <th>Date</th>
                            <th>Amount</th>
                            <th>RTGS No.</th>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>@Model.PaymentDate </td>
                            <td>@Model.PaymentAmount</td>
                            <td>?</td>

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <div class="container" style="padding-top:40px;">
        <div class="row">
            <div class="col-md-6">
                <h3>Delivery Information</h3>

                <table class="uk-table">

                    <tbody>
                        <tr class="CustomHead">
                            <th>DC No.</th>
                            <th>Date</th>
                            <th>Model</th>
                            <th>Qty</th>
                            <th>Color</th>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>@Model.DeliveryDCNo </td>
                            <td>@Model.DeliveryDate</td>
                            <td>@Model.DeliveryModel</td>
                            <td>@Model.DeliveryQty</td>
                            <td>@Model.DeliveryColor</td>

                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="col-md-6"></div>
        </div>
    </div>
</body>