@model IEnumerable<TTE_Portal.ViewModels.OrdersViewModel>


<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr>
                <th>PI No</th>
                <th>PI Date</th>
                <th>Model</th>
                <th>QTY</th>
                <th>Status</th>
                <th>Imported PINO</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PINO</td>
                        <td>@item.PIDate</td>
                        <td>@item.Model</td>
                        <td>@item.QTY</td>
                        <td>@item.Status</td>
                        <td>@item.ImportedPINO</td>
                        <td><a href="/Order/OrderDetails?bpCode=@item.BpCode&userId=@item.UserId">Details</a></td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
